body{
    background-image: url(https://img.freepik.com/free-vector/detailed-hand-painted-pink-watercolour-background_1048-17039.jpg);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.one {
    width: 40%;
    background-color: mistyrose;
    float: left;
}
.dog{
    width: 500px;
}

.two{
    width: 40%;
    background-color: mistyrose;
    float: right;
}

    



/*wowee*/