body{
    background-image: url(https://img.freepik.com/free-vector/detailed-hand-painted-pink-watercolour-background_1048-17039.jpg);
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.capture {
    background-color: lavenderblush;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}



/*wowee*/